
.program 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 90px;
    border-radius: 5px;
    background-color: #dddbdb93;
    box-shadow: 0 4px 8px rgba(236, 236, 236, 0.493);
}

/* programschema*/
.program h1
{
    text-align: center;
}

/* Rubrik dag */
.dag h3 
{
    margin: 40px;
    color: #04172c;
    font-size: 30px;
    font-style: italic;
    border-bottom: 2px solid #04172c;
    padding-bottom: 5px;
    text-align: center;
}

/* Ändra dagar */
.event 
{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f4f9;
    border-left: 5px solid #04172c;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.event:hover
{
    transform:scale(1.1);
    transition: transform 1.0s ease;
}



@media only screen and (max-width: 480px) 
{
    .program 
    {
        margin: 170px auto 50px auto; 
        max-width: 80%; 
        padding: 10px; 
        background-color: rgba(255, 255, 255, 0.8);  
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    .program h1
    {
        font-size: 20px;
        text-align: center;
    }

    .dag h3 
    {
        margin: 20px;
        font-size: 22px;
        text-align: center;
    }

    .event 
    {
        padding: 8px; 
        margin-bottom: 8px; 
        font-size: 14px; 
    }

    .event:hover
    {
        transform: scale(1.05); 
        transition: transform 0.5s ease; 
    }
}

@media only screen and (min-width: 1024px) 
{
    .program 
    {
        max-width: 90%; 
        padding: 20px;
        margin: 120px 0 30px 0;
    }

    .program h1
    {
        font-size: 28px;
    }

    .dag h3 
    {
        margin: 20px;
        font-size: 26px;
    }

    .event 
    {
        padding: 8px; 
        margin-bottom: 8px; 
        font-size: 16px; 
    }

    .event:hover
    {
        transform: scale(1.05); 
        transition: transform 0.5s ease; 
    }
}