* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body 
{
    display: flex;
    flex-direction: column;
    background-image: url(photos/bakground1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5px solid #000000;
}

/* Header, logo, meny*/
header 
{
    display: flex;
    background-color: #ffffff8f;
    color: #000000;
    padding: 30px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 4px 5px rgb(87, 85, 85);
}


header nav ul
{
    display: inline;
}

header nav ul a 
{
    color: #000000;
    text-decoration: none;
    margin: 20px;
    font-size: medium;
    padding: 10px;
}

header nav ul a:hover
{
    background-color: #04172cb2;
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgb(87, 85, 85);
}

/* h4 ska bytas ut mot logo */
h4
{
    margin-right: 80px;
    font-size: larger;
}

/* main */
main
{
    min-height: 100vh;
}

p
{
    margin: 6px;
}

/* textboxar */
.container 
{ 
    display: flex;
    justify-content: space-between;
}

/* textbox till vänster */
.box1
{
    background-color: #dddbdb79;
    padding: 50px 50px 60px 50px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(236, 236, 236, 0.493);
    max-width: 600px; 
    margin: 200px 20px 150px 50px;
    line-height: 1.5;
}

/* knapp till anmälan */
.button-anmalan 
{
    background-color: #04172c88; 
    color: white;
    padding: 10px 60px;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 1px 0 0 0 rgba(36, 35, 35, 0.493);
}

.button-anmalan:hover
{
    background-color: #04172cc0; 
    cursor: pointer;
}

/*  knapp föreläsare-site eller länka till schema? */
.button-forelasare 
{
    background-color: #3273b852; 
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 0 0 0 rgba(36, 35, 35, 0.493);
}

.button-forelasare:hover 
{
    background-color: #04172c3f; 
    cursor: pointer;
}

/* scrollbar */
.scroll-container 
{
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    background-color: #ffffff6c;
}

.scroll-item 
{
    display: inline-block;
    width: 300px;
    margin-right: 17px;
    background-color: #ffffff85;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(230, 230, 230, 0.1);
    border-radius: 8px;
}

.scroll-item:hover 
{
    display: block;
    margin-bottom: 10px;
    transform: scale(1.1);
}

.scroll-item img 
{
    max-height: 200px;
    display: block;
    margin-bottom: 10px;
    border: 0.1px rgb(139, 132, 132) solid;
    border-radius: 5px;
}

.scroll-item p
{
    color: #222121;
}

/* Footer */
footer 
{
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 14px;
}

.footer-container 
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-column 
{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-column p 
{
    font-size: 14px;
    line-height: 1.5;
}

/* Sociala medier*/
.social-icons 
{
    margin-top: 10px;
}

.social-icons a 
{
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover 
{
    color: #549fc2;
    
}

/* Footer botten */
.footer-bottom 
{
    text-align: center;
    margin: 20px;
    padding-top: 10px;
    border-top: 1px solid #c0b7b7;
    font-size: 13px;
}

@media only screen and (max-width: 480px) {
    header {
        padding: 10px;
        flex-direction: column;
    }

    header nav ul a {
        font-size: small;
        margin: 5px;
    }

    .box1 {
        margin: 80px 10px;
        padding: 20px;
    }

    .button-anmalan, .button-forelasare {
        padding: 10px 20px;
        font-size: 14px;
    }

    .scroll-item {
        width: 200px;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-container {
        flex-direction: column;
    }
}
