
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body 
{
    background-image: url(photos/bakground1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header, meny*/
header 
{
    display: flex; 
    background-color: #ffffffb6;
    color: #000000;
    padding: 25px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    box-shadow: 0 4px 5px rgb(87, 85, 85);
}

/* bättre webb*/
header h2
{
    font-size: x-large;
}

/* 18-20 oktober..*/
header h3
{
    font-size: large;
    margin: 0 0px 0 1150px;
    position: absolute;
    transition: border 0.9s ease;
}

header h3:hover
{
    border-bottom: #04172cb2 solid 4px;
    transition: 0.3s;
}

/* meny-knappar */
nav a 
{
    color: #000000;
    text-decoration: none;
    margin: 50px;
    font-size: large;
    padding: 10px;
}

nav a:hover
{
    background-color: #04172cb2;
    color: white;
    padding: 10px 40px 10px 40px;
    border-radius: 7px;
    box-shadow: 0 4px 5px rgb(87, 85, 85);
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}

/* main */

/* textbox längst ner */
.box1
{
    background-color: #dddbdbad;
    padding: 50px 50px 60px 50px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(236, 236, 236, 0.493);
    line-height: 1.9;
    margin: 50px auto;
    max-width: 1500px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.box1 ul
{
    margin: 10px 0 10px 50px;
}

/* bildbox uppe */
.box2
{
    background-color: #dddbdba8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(236, 236, 236, 0.493);
    max-width: 1500px;
    width: 100%;
    height: auto;
    margin: 100px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; 
}

.box2 img
{
    align-items: center;
    border: 0.1px rgb(139, 132, 132) solid;
    border-radius: 5px;
    transition: transform 0.3s ease;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    height: auto; 
}

.box2 img:hover
{
    transform: scale(1.1);
}

/* fototext box2*/
.text-foto
{
    
    margin: 5px auto auto auto; 
    color: rgb(48, 46, 46);
    max-width: 90%;
    align-items: center;
    justify-content: center; 
}

/* knapp till anmälan */
.button-anmalan 
{
    background-color: #04172c88; 
    color: white;
    padding: 10px 60px;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 1px 0 0 0 rgba(36, 35, 35, 0.493);
}

.button-anmalan:hover
{
    background-color: #04172cc0; 
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

/*  knapp föreläsare */ 
.button-forelasare 
{
    background-color: #04172c88; 
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 0 0 0 rgba(36, 35, 35, 0.493);
}

.button-program
{
    background-color: #04172c88; 
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 0 0 0 rgba(36, 35, 35, 0.493);
}

.button-program:hover
{
    background-color: #04172cc0; 
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

/* ändrat till grid */
.scroll-container 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    background-color: #dddbdba8;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.scroll-item 
{
    background-color: #ffffff85;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(230, 230, 230, 0.1);
    border-radius: 8px;
    width: 220px;
    max-height: 300px
}

.scroll-item:hover 
{
    margin-bottom: 5px;
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #dddbdb;
}

.scroll-item img 
{
    align-items: center;
    border: 0.1px rgb(139, 132, 132) solid;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.scroll-item p
{
    color: #222121;
    line-height: 1.3;
} 

/* Footer */
footer 
{
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    width: 100%;
}

.footer-container 
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
}

.footer-column 
{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-column p 
{
    font-size: 14px;
    line-height: 1.5;
}

/* Sociala medier*/
.social-icons 
{
    margin-top: 10px;
}

.social-icons a 
{
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover 
{
    color: #123560;
    
}

/* Footer botten */
.footer-bottom 
{
    text-align: center;
    margin: 20px;
    padding-top: 10px;
    border-top: 1px solid #c0b7b7;
    font-size: 13px;
}

@media only screen and (min-width: 901px) and (max-width: 1246px)
{
    header 
    {
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }

    header h2 
    {
        font-size: 24px;
        margin-top: 35px;
    }

    header h3 
    {
        font-size: 16px;
        margin: 15px 0 0 0;
    }

    nav 
    {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        gap: 1px;
        margin-top: 5px;
    }

    nav a 
    {
        font-size: 14px;
        margin: 8px;
        padding: 8px 20px;
    }

    .box1
    {
        width: 100%;  
        max-width: 800px; 
        margin: 20px auto; 
    }

    .box2
    {
        width: 100%;  
        max-width: 800px; 
        margin-top: 160px;
    }

    .box2 img 
    {
        width: 100%;
        max-width: 270px;
    }

    .box2 
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .text-foto
    {
        color: #c0b7b7;
    }

    .box1 ul 
    {
        margin-left: 20px;
    }

    .button-anmalan, .button-forelasare, .button-program 
    {
        padding: 6px 8px;
        font-size: 18px;
        margin: 5px 0;
    }

    .scroll-container 
    {
        grid-template-columns: repeat(auto-fill, minmax(240px, 2fr));
        gap: 10px;
    }

    .scroll-item 
    {
        width: 220px;
        margin: auto;
    }

    /* Footer */
    footer 
    {
        padding: 20px 10px;
    }

    .footer-container 
    {
        flex-direction: column;
        gap: 20px;
    }

    .footer-column 
    {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
}

@media only screen and (min-width: 341px) and (max-width: 900px) {

    header 
    {
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }

    header h2 
    {
        font-size: 24px;
        margin-top: 35px;
    }

    header h3 
    {
        font-size: 16px;
        margin: 10px 0;
    }

    nav 
    {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        gap: 1px;
        margin-top: 5px;
    }

    nav a 
    {
        font-size: 14px;
        margin: 8px;
        padding: 8px 20px;
    }

    .box1
    {
        width: 100%;  
        max-width: 800px; 
        margin: 20px auto; 
    }

    .box2
    {
        width: 100%;  
        max-width: 800px; 
        margin-top: 160px;
    }

    .box2 img 
    {
        width: 100%;
        max-width: 270px;
    }

    .box2 
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .text-foto
    {
        color: #c0b7b7;
    }

    .box1 ul 
    {
        margin-left: 20px;
    }

    .button-anmalan, .button-forelasare, .button-program 
    {
        padding: 6px 8px;
        font-size: 18px;
        margin: 5px 0;
    }

    .scroll-container 
    {
        grid-template-columns: repeat(auto-fill, minmax(240px, 2fr));
        gap: 10px;
    }

    .scroll-item 
    {
        width: 220px;
        margin: auto;
    }

    /* Footer */
    footer 
    {
        padding: 20px 10px;
    }

    .footer-container 
    {
        flex-direction: column;
        gap: 20px;
    }

    .footer-column 
    {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
}


@media only screen and (max-width: 340px)
{
    header
    {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header h2 
    {
        font-size: 17px;
        text-align: center;
        margin-top: 20px;
    }

    header h3 
    {
        font-size: 16px;
        text-align: center;
    }

    header nav
    {
        margin-top: 10px; 
        display: flex;
        direction: column;
        align-items: center;
    }

    header nav a 
    {
        margin: 10px auto;
        padding: 10px 20px;
        font-size: 16px;
        align-items: center;
    }
   
    .box1 
    {
        width: 100%; 
        padding: 20px; 
        font-size: 14px;
    }

    .box2 
    {
        flex-wrap: wrap;
        padding: 10px;
        margin-top: 150px;
    }

    .box2 img 
    {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .text-foto 
    {
        font-size: 13px;
        text-align: center;
        color: #c0b7b7;
    }

    
    .button-anmalan, .button-forelasare, .button-program 
    {
        padding: 8px 6px;
        font-size: 17px;
    }

    .scroll-container 
    {
        grid-template-columns: 1fr;
        padding: 0 5px; 
    }

    .scroll-item 
    {
        width: 100%; 
        margin: 10px 0;
        justify-content: center;
        align-items: center;
    }

    .scroll-item img 
    {
        max-width: 75%;
        height: auto;
    }

    .footer-container
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin-top: 30px;
    }

    .footer-column 
    {
        width: 100%; 
        margin-bottom: 50px;
        font-size: 12px;
    }
}

