* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body 
{
    background-image: url(photos/bakground1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    display: flex;
    flex-direction: column;
    
}

/* Header, logo?, meny*/
header 
{
    display: flex;
    background-color: #ffffffb6;
    color: #000000;
    padding: 25px;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0 4px 5px rgb(87, 85, 85);
}

/* bättre webb*/
header h2
{
    font-size: x-large;
}

/* 18-20 oktober..*/
header h3
{
    font-size: large;
    margin: 0 0px 0 1150px;
    position: absolute;
    transition: border 0.9s ease;
}

header h3:hover
{
    border-bottom: #04172cb2 solid 4px;
    transition: 0.3s;
}

/* meny-knappar */
header nav ul a 
{
    color: #000000;
    text-decoration: none;
    margin: 50px;
    font-size: large;
    padding: 10px;
}

header nav ul a:hover
{
    background-color: #04172cb2;
    color: white;
    padding: 10px 40px 10px 40px;
    border-radius: 7px;
    box-shadow: 0 4px 5px rgb(87, 85, 85);
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}

/* main */


/* textboxar/bild (behövs ej?)
.container 
{ 
    display: flex;
    align-items: center;
}
*/

/* textbox längst ner */
.box1
{
    background-color: #dddbdbad;
    padding: 50px 50px 60px 50px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(236, 236, 236, 0.493);
    line-height: 1.9;
    margin: 80px 10px 100px 100px;
    max-width: 90%;
}

.box1 ul
{
    margin: 10px 0 10px 50px;
}

/* bildbox uppe */
.box2
{
    background-color: #dddbdba8;
    padding: 50px 50px 60px 50px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(236, 236, 236, 0.493);
    max-width: 90%;
    margin: 200px 10px 100px 100px;
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
}

.box2 img
{
    height: 290px;
    align-items: center;
    border: 0.1px rgb(139, 132, 132) solid;
    border-radius: 5px;
    transition: transform 0.3s ease;
    margin: 10px;
}


.box2 img:hover
{
    transform: scale(1.1);
}


/* knapp till anmälan */
.button-anmalan 
{
    background-color: #04172c88; 
    color: white;
    padding: 10px 60px;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 1px 0 0 0 rgba(36, 35, 35, 0.493);
}

.button-anmalan:hover
{
    background-color: #04172cc0; 
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

/*  knapp föreläsare-site eller länka till program? */
.button-forelasare 
{
    background-color: #04172c88; 
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 0 0 0 rgba(36, 35, 35, 0.493);
}

/* förvirrande?
.button-forelasare:hover 
{
    background-color: #04172c3f; 
    cursor: pointer;
} */

/* scrollbar */
.scroll-container 
{
    display: flex;
    overflow-x: scroll;
    padding: 40px;
    background-color: #ffffff6c;
    margin-bottom: 90px;
    
}

.scroll-item 
{
    display: inline-block;
    width: 350px;
    margin-right: 17px;
    background-color: #ffffff85;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(230, 230, 230, 0.1);
    border-radius: 8px;
}

.scroll-item:hover 
{
    display: block;
    margin-bottom: 5px;
    transform: scale(1.1);
    transition: 0.5s;
}

.scroll-item img 
{
    max-height: 200px;
    display: block;
    margin-bottom: 10px;
    border: 0.1px rgb(139, 132, 132) solid;
    border-radius: 5px;
}

.scroll-item p
{
    color: #222121;
    line-height: 1.3;
}

/* Footer */
footer 
{
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 14px;
}

.footer-container 
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-column 
{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-column p 
{
    font-size: 14px;
    line-height: 1.5;
}

/* Sociala medier*/
.social-icons 
{
    margin-top: 10px;
}

.social-icons a 
{
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover 
{
    color: #123560;
    
}

/* Footer botten */
.footer-bottom 
{
    text-align: center;
    margin: 20px;
    padding-top: 10px;
    border-top: 1px solid #c0b7b7;
    font-size: 13px;
}

@media (max-width: 480px)
{
    header
    {
        flex-direction: column;
    }

    header nav ul a 
    {
        margin: 10px 0;
        padding: 10px 20px;
    }

    .box1, .box2
    {
        margin: 130px auto;
        padding: 15px;
    }

    .box2 img
    {
        max-height: 260px;
        margin: 10px auto;
    }

    .button-anmalan, .button-forelasare 
    {
        padding: 10px 30px;
        font-size: 16px;
    }

    .scroll-item 
    {
        width: 90%; 
    }

    .footer-column 
    {
        width: 100%; 
        margin-bottom: 20px;
        text-align: center;
        
    }

    .footer-container
    {
        display: flex;
        flex-direction: column;
    }
}
